{%extends 'photos/base.html'%}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col md-4">
            <div class="card mt-4">
                <img src="{{ post.profile.pic.url }}" height="100px" width="100px" style="border-radius:50%; float: left; " class="">
                {{user.username}}
                <form action="/followers_count/" method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                    <input type="hidden" name="user" value="{{current.user}}" readonly/>
                    <input type="hidden" name="follower" value="{{user.username}}" readonly/>
                    <input type="hidden" name="value" value="follow" readonly/>
                    <button class="btn btn-dark profile-edit-btn-dark mb-1 ml-2" type="submit" >
                       Follow
                    </button>
                <img src="{{post.image.url}}" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <p class="card-title">{{post.author.username}}: {{post.imagename}}</p>
                  <p class="card-text">{{post.caption}}</p>
                  
                </div>
              </div>
        </div>
        <div class="col md-8">
            <form method="POST" action="{% url 'list' %}">
                {% csrf_token %}
                {{ form.as_p}}
                <div class="form-group">
                  <label for="exampleInputPassword1" class="mt-4">Comment</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="comment" enctype="multipart/form-data">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
              </form>
        </div>
    </div>
  

{% endblock %} 